/* AddAsset.css */

.add-asset-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.add-asset-input {
	margin-right: 10px;
}

.add-asset-button {
	cursor: pointer;
	background-color: green;
	border-radius: 10px;
	color: white;
	padding: 10px;
	margin: 15px;
}

.div-add-asset-form {
	width: 80%;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	margin: 0 auto;
}

.add-asset-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	  input {
		width: 250px;
		box-sizing: border-box;
		padding: 10px;
		margin: 5px 0;
		border-radius: 5px;
		margin: 10px;
		height: 55px;
		font-size: 16px;
	  } 
}
.input-wrapper {
	margin: 5px;
	flex-grow: 1;
	max-width: 200px; /* Adjust the maximum width as needed */
  }
.add-asset-form-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid lightgrey;
	label{
		font-size: 22px;
		padding: 5px 20px 5px;
		text-align: center;
	}
	button{
		padding: 11px 15px;
		margin: 5px 15px;
		color: red;
		font-size: 18px;
		background-color: white;
		border-radius: 10px;
		border: none;
		cursor: pointer;
		}
	}
.add-asset-checkbox {
	display: flex;
	width: 250px;
	input{
		height: auto !important;
		width: auto;
	}
	label{
		margin-top: 5px;
	}
}
.add-asset-select{
	width: 250px;
	height: 53px;
	background-color: white;
	border-radius: 5px;
	padding-left: 20px;
	font-size: 16px;
}
.btn-submit{
	height: 50px;
  	width: 150px;
  	border-radius: 5px;
  	font-size: 18px;
	color: white;
	margin: 0 auto;
}
.submit-btn-container{
	width: 70%;
	display: flex;
}
@media (min-width: 768px) {
	/* Adjust the breakpoint for desktop */
	.input-wrapper {
	  max-width: 300px; /* Adjust the maximum width for desktop */
	}
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#submitbutton:hover {
	background-color: #2d7230;
}
#submitbutton {
	background-color: #45a049;
}
