/* AddAsset.css */

.add-asset-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.add-asset-input {
	margin-right: 10px;
    display: inline-block; /* Ensure inputs are inline-block */
    padding: 10px 15px; /* Adjust padding for consistent height */
    font-size: 16px; /* Adjust font size for consistent height */
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid lightgray; /* Apply a border to all inputs for consistency */
}

/* Firefox Fix */
.add-asset-input::-moz-focus-inner { 
    border: 0;
}

/* Safari Fix */
.add-asset-input {
    -webkit-appearance: none;
    border-radius: 0;
}

.add-asset-button {
	cursor: pointer;
	background-color: green;
	border-radius: 10px;
	color: white;
	padding: 10px;
	margin: 15px;
}

/* Modal styles */
.modal {
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color:#003da5;;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#submitbutton:hover {
	background-color: #2d7230;
}
#submitbutton {
	background-color: #45a049;
}
