/* AddAsset.css */

.add-asset-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-bottom: 20px;
  }
  
  .add-asset-input {
    margin-right: 10px;
  }
  
  .add-asset-button {
    cursor: pointer;
    background-color: green;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 15px;
  }