/* AssetManagement.css */

.asset-table-container {
    max-height: 60vh; /* Adjust the maximum height as per your design */
    overflow-y: auto;
  }
  
  .asset-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .asset-table th,
  .asset-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .asset-table th {
    background-color: #f2f2f2;
  }
  
  .asset-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .asset-table tr:hover {
    background-color: #f2f2f2;
  }
  
  