.asset-table-container {
	max-height: 30vh; /* Adjust the maximum height as per your design */
	overflow-y: auto;
}

.asset-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.asset-table th,
.asset-table td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

.asset-table th {
	background-color: #f2f2f2;
}

.asset-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.asset-table tr:hover {
	background-color: #f2f2f2;
}

.asset-actions button {
	margin-right: 5px;
	cursor: pointer;
	padding: 5px 10px;
	color: white;
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s;
}

#editbutton {
	background-color: #45a049;
}

#editbutton:hover {
	background-color: #368c3a;
}

.delete-asset-button {
	background-color: #f44336;
}

.delete-asset-button:hover {
	background-color: #d32f2f;
}
