
.contact-and-description-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.company-description,
.contact-form-container {
  width: 48%;
}

.company-description {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.3s ease; /* Adding transition for hover effect */
}

.company-description:hover {
  transform: translateY(-5px);
}

.company-description h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.company-description p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.contact-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adding shadow effect */
  background-color: #8e9fb5; /* Background color for the card */
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 120px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
