.header__menu{
    position: fixed;
    top: 0;
    background: #003da5;
    height: 5rem;
    overflow: hidden;
    z-index: 10;
    left: 0;
    width: 100%;
}

.header__menu__wrap{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 4rem; 
  max-width: 80rem;
  height: 100%; 
  margin: 0 auto; 
}

.logo{
  font-family: brandon-grotesque,sans-serif;
  color: #fff;
  font-size: 20px;
}

.header__menu__group{
    float: right;
    margin-top: 25px;
}

.header__icon{
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

@keyframes MyDiv {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .logo {
    position: relative;
    animation: MyDiv 3s infinite ease-in;
    animation-direction: normal;
  }