.header__menu{
    position: fixed;
    top: 0;
    background: #003da5;
    height: 4rem;
    overflow: hidden;
    z-index: 10;
    left: 0;
    width: 100%;
}

.header__menu__wrap{
    padding-right: 4rem;
    padding-left: 4rem;
    position: relative;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    font-family: brandon-grotesque,sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 18px;
    float: left;
}

.header__menu__group{
    float: right;
    margin-top: 18px;
}

.header__icon{
    color: #fff;
    font-size: 24px;
}